  <nav id="navbar">
    <div class="nav-inner">
      <a href="index.html#home" class="nav-logo">
        <img src="assets/logos/msu_logo_without_background.png" alt="Stanford MSU" />
      </a>
      <ul class="nav-links" id="nav-links">
        <li><a href="index.html#home" class="nav-link">Home</a></li>
        <li><a href="about.html" class="nav-link">About</a></li>
        <li><a href="ramadan.html" class="nav-link">Ramadan</a></li>
        <li><a href="gallery.html" class="nav-link">Gallery</a></li>
        <li><a href="campus-life.html" class="nav-link">Campus Life</a></li>
        <li><a href="index.html#contact" class="nav-link">Contact</a></li>
        <li class="nav-dropdown">
          <button class="nav-link nav-dropdown-toggle" type="button" aria-haspopup="true" aria-expanded="false">Resources <span class="nav-caret">▾</span></button>
          <ul class="nav-dropdown-menu">
            <li><a href="https://www.muslimfomo.com" target="_blank" rel="noopener">Events in Bay Area</a></li>
            <li><a href="resources-new-students.html">For New Students</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/18jYRNDq5DqmapbZ8V3jseI_mkoJp1LEcSbI39WXf_u8/edit?usp=sharing" target="_blank" rel="noopener">Community Khatms</a></li>
            <li><a href="https://docs.google.com/document/d/12IXChpiKfSkAFvoPQwspL2dsaoboiWgobSA2UAvyu-I/edit?usp=sharing" target="_blank" rel="noopener">Donation Resources</a></li>
            <li><a href="https://dailysakinah.com/" target="_blank" rel="noopener">Daily Adhkars</a></li>
          </ul>
        </li>
        <li><a href="https://account.venmo.com/u/MSU-Stanford" target="_blank" rel="noopener" class="btn-donate">Donate</a></li>
      </ul>
      <button class="hamburger" id="hamburger" aria-label="Toggle menu">
        <span></span><span></span><span></span>
      </button>
    </div>
  </nav>
